html {
    height: 101%;
}

.filter {
    width: 25%;
    float: left;
}

.main {
    width: 75%;
    float: left;
    padding-left: 5px;
    padding-top: 0;
    padding-bottom: 0;
}

.search {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.results {
    width: 100%;
    clear: both;
}

.accordion {
    cursor: pointer;
    width: 100%;
    text-align: left;
    outline: none;
    display: block;
    border: none;
    position: relative;
    transition: 0.4s;
    padding: 8px;
}

.accordion:after {
    content: '\25ba';
    color: #033E58;
    font-weight: bold;
    white-space: nowrap;
    float: left;
    padding: 0 10px 0 0;
    position: center;
    top: 0;
    border: none;
}

.active:after {
    content: "\25bc";
    color: #033E58;
    font-weight: bold;
    float: left;
    border: none;
}

.content {
    transition: height 0.2s ease-out;
}

.line-title {
    font-weight: bold;
    grid-column: 1 / 4;
    line-height: 1em;
    padding-bottom: 10px;
}

.line-label {
    line-height: 1.1em;
    grid-column: 1/2;
    color: gray;
}

.line-item {
    grid-column: 2/4;
    line-height: 1.1em;
}

.line-results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.results--wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0;
    border-radius: 3px;
    background-color: #eff0f9;
    padding: 10px;
    -moz-box-shadow: 10px 10px 5px #a19ca1;
    -webkit-box-shadow: 10px 10px 5px #a19ca1;
    box-shadow: 10px 10px 5px #a19ca1;
}
