<div style="padding-top: 0;padding-bottom: 0px;">

    <div class="panel panel--info" style="min-height:400px;" id="filter">
        <div class="panel__header">
            <div class="venus">Filters</div>
        </div>

        <div class="panel__body">

            <label class="accordian">Employment Bands</label>

            <div class="content mars" id="employment-toggle" style="display: none;">

                {% set bands = [
                            {'banda': 'A [0]'},{'bandb': 'B [1]'},{'bandc': 'C [2-4]'},{'bandd': 'D [5-9]'},
                            {'bande': 'E [10-19]'},{'bandf': 'F [20-24]'},{'bandg': 'G [25-49]'},
                            {'bandh': 'H [50-74]'},{'bandi': 'I [75-99]'},{'bandj': 'J [100-149]'},
                            {'bandk': 'K [150-199'},{'bandl': 'L [200-249]'},{'bandm': 'M [250-299]'},
                            {'bandn': 'N [300-499]'},{'bando': 'O [500+]'}
                         ] %}

                <fieldset>

                    {% for b in bands %}
                        {% for key, value in b.items() %}
                            <div class="field__item js-focusable-box" style="margin-left: 0;padding-right: o;">
                                <input class="input input--checkbox js-focusable"
                                       name="checkbox-answer"
                                       value="{{ value }}"
                                       onchange="update_filter(this)"
                                       id="{{ key }}" type="checkbox">
                                <label class="label label--inline venus" for="{{ key }}"
                                       style="font-size: .8em;margin-top: .8%;">
                                    {{ value }}
                                </label>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </fieldset>

            </div>

            <div class="accordian">Turnover Bands</div>

            <div class="content mars" id="turnover-toggle" style="display: none;">

                {% set turnover = [
                            {'turna': 'A [0-99]'}, {'turnb': 'B [100-249]'}, {'turnc': 'C [250-499]'},
                            {'turnd': 'D [500-999]'},{'turne': 'E [1,000-1,999]'}, {'turnf': 'F [2,000-4,999]'}
                            ,{'turng': 'G [5,000-9,999]'}, {'turnh': 'H [10,000-49,999]'}, {'turni': 'I [ 50,000+]'}
                            ] %}

                <fieldset>
                    {% for t in turnover %}
                        {% for key, value in t.items() %}
                            <div class="field__item js-focusable-box" style="margin-left: 0;">
                                <input class="input input--checkbox js-focusable" name="checkbox-answer"
                                       value="{{ value }}"
                                       id="{{ key }}" type="checkbox">
                                <label class="label label--inline venus" for="{{ key }}"
                                       style="font-size: .8em;margin-top: .8%;padding-right: 0;">
                                    {{ value }}
                                </label>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </fieldset>
            </div>

            <div class="accordian">Trading Status</div>

            <div class="content mars" id="trading-toggle" style="display: none;">
                {% set trading = [
                            {'tradea': 'Active'}, {'tradec': 'Closed'}, {'traded': 'Dormant'},
                            {'tradei': 'Insolvent'}
                        ] %}

                <fieldset>
                    {% for t in trading %}
                        {% for key, value in t.items() %}
                            <div class="field__item js-focusable-box" style="margin-left: 0;">
                                <input class="input input--checkbox js-focusable" name="checkbox-answer"
                                       value="{{ value }}"
                                       id="{{ key }}" type="checkbox">
                                <label class="label label--inline venus " for="{{ key }}"
                                       style="font-size: .8em;margin-top: .8%;padding-right: 0;">
                                    {{ value }}
                                </label>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </fieldset>
            </div>

            <div class="accordian">Legal Status</div>

            <div class="content mars" id="legal-toggle" style="display: none;">
                {% set trading = [
                            {'legal1': 'Company'}, {'legal2': 'Sole Proprietor'}, {'legal3': 'Partnership'},
                            {'legal4': 'Public Corporation'}, {'legal5': 'Central Government'},
                            {'legal6': 'Local Authority'},
                            {'legal7': 'Non-Profit Organisation'}, {'legal8': 'Charity'}
                        ] %}

                <fieldset>
                    {% for t in trading %}
                        {% for key, value in t.items() %}
                            <div class="field__item js-focusable-box" style="margin-left: 0;">
                                <input class="input input--checkbox js-focusable" name="checkbox-answer"
                                       value="{{ value }}"
                                       id="{{ key }}" type="checkbox">
                                <label class="label label--inline venus " for="{{ key }}"
                                       style="font-size: .8em;margin-top: .8%;padding-right: 0;">
                                    {{ value }}
                                </label>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </fieldset>

            </div>

        </div>
    </div>
</div>


<script>

    function update_filter(item) {
        console.log("checkbox: " + item.id + ", value: " + item.value + ", checked: " + item.checked);
    }

    function resizeDiv() {

        let expand = $('#expand');
        console.log("Outer component height: " + expand.height());

        let filter = $('#filter').height();
        console.log("filter height: " + filter);

        let panel = $('#search-panel');
        //console.log("search-panel height: " + panel.height());

        console.log("resizing div to: " + filter + panel.height());

        expand.height(filter);
        //panel.height(filter);

    }

    $(function () {
        var coll = document.getElementsByClassName("accordian");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;

                //var content = this.nextElementSibling;
                console.log("display: " + content.style.display);
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
                resizeDiv();
            });
        }


    });

</script>