{% extends "base.html" %}

{% block content %}

    <section>

        <div class="main-content" style="padding-top: 0;padding-bottom:0px;height:100%" id="search-panel" >

            <div class="panel panel--info" style="min-height:400px;" >

                <div class="panel__header">
                    <div class="venus">Search all fields</div>
                </div>
                <div class="panel__body">

                    <form action="/search_all/" method="post" novalidate>
                        {{ form.hidden_tag() }}

                        {{ heading.four('Search All Fields:') }}
                        <div style="width:40%;">
                            {{ form.search(size=100,
                        class='input input--text',
                        style='display:inline;', autofocus="true") }}

                        </div>
                        {% for error in form.search.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}

                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}