{% extends "base.html" %}

{% block content %}

    <section>

        <div class="main-content">

            <div class="wrapper narrow">

                <form action="/search/" method="post" novalidate>
                    {{ form.hidden_tag() }}

                    {{ heading.four('Search by Post Code:') }}
                    <div style="width:40%;">
                        {{ form.search(size=100,
                        class='input input--text',
                        style='display:inline;', autofocus="true") }}

                    </div>
                    {% for error in form.search.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}

                </form>
            </div>
        </div>

    </section>

{% endblock %}