{% macro header(serviceName=None, serviceDescription=None, tabs=None) %}

    {% import 'macros/heading.html'  as heading %}
    {% import 'macros/buttons.html'  as buttons %}
    {% import 'macros/spacing.html'  as spacing %}

    <header class="page__header">

        <div class="logo_container">
            <div class="wrapper narrow">
                <div class="group">
                    <div class="col-8">
                        <div class="logo_header">
                            <img src="{{ url_for('static', filename='img/logo.svg') }}"
                                 alt="Office for National Statistics" class="logo__img"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="primary_header">
            <div class="wrapper narrow">
                <div class="group">
                    {% if serviceName %}
                        <p class="jupiter top service_name">{{ serviceName|e }}</p>
                    {% endif %}
                    {% if serviceDescription %}
                        <p class="neptune service_description">{{ serviceDescription|e }}</p>
                    {% endif %}
                </div>
            </div>
        </div>


    </header>
    <div class="wrapper narrow">

        {{ spacing.medium() }}

        <div class="panel panel--info">

            <div class="panel__header">
                <div class="venus">Search the UK business population</div>
            </div>
            <div class="panel__body">
                {% for tab_list in tabs %}

                    {% if tab_list['active'] %}
                        <a class="btn btn--link" href="{{ tab_list['href'] }}"
                           style="text-align: center;width:90px;text-decoration: none;border-bottom: 3px solid #033E58;margin: 10px;">
                            {{ tab_list['name']|e }}
                        </a>
                    {% else %}
                        <a class="btn btn--link" href="{{ tab_list['href'] }}"
                           style="text-align: center;width:90px;text-decoration: none;margin: 10px;">
                            {{ tab_list['name']|e }}
                        </a>
                    {% endif %}

                {% endfor %}
            </div>
        </div>

    </div>

{% endmacro %}