{% macro render(pagination) %}


    <style>
        .currentItem {
            padding: 8px;
            background-color: #033e58;
            border-color: #4263c2;
            color: white;
            border-radius: 3px;
            text-align: center;
            text-decoration: none;
        }
    </style>

    <nav class="pagination u-mb-l" role="navigation" aria-label="Pagination" style="padding-bottom: 0;">

        <div style="padding-bottom: 20px;"
             class="mars pagination__position u-hidden">Page {{ pagination.page }} of {{ pagination.pages }}</div>

        {% if pagination.has_prev %}
            <span class="pagination__item pagination__item--previous">
                <a class="hover" style="text-decoration: none;float:none;"
                   href="{{ url_for_other_page(pagination.page - 1) }}">
                    Previous
                </a>
            </span>
        {% else %}
            {#
                If the user is on page one,
                add some left padding so the line
                doesn't shift to the left
            #}
            <span style="padding-left: 20px;"></span>
        {% endif %}

        {%- for page in pagination.iter_pages() %}
            {% if page %}
                {% if page != pagination.page %}
                    <span class="pagination__item pagination__item--next">
                        <a style="text-decoration: none;float:none;" class="pagination__item"
                           href="{{ url_for_other_page(page) }}">
                            {{ page }}
                        </a>
                    </span>
                {% else %}
                    <span class="currentItem pagination__item pagination__item--active pagination__item--current">{{ page }}</span>
                {% endif %}
            {% else %}
                <span class="pagination__item pagination__item--gap">&hellip;</span>
            {% endif %}
        {%- endfor %}

        {% if pagination.has_next %}
            <span class="pagination__item pagination__item--next">
                <a style="float: none;text-decoration: none;"
                   href="{{ url_for_other_page(pagination.page + 1) }}">
                    Next
                </a>
            </span>
        {% endif %}

    </nav>

{% endmacro %}