
{% macro tiny() %}

    <div style="padding: 5px; ">&nbsp;</div>

{% endmacro %}

{% macro small(style) %}

    {% if style %}
        <div class="u-mb-s" style="{{ style }}">&nbsp;</div>
    {% else %}
        <div class="u-mb-s">&nbsp;</div>
    {% endif %}

{% endmacro %}

{% macro medium(style) %}

    {% if style %}
        <div class="u-mb-m" style="{{ style }}">&nbsp;</div>
    {% else %}
        <div class="u-mb-m">&nbsp;</div>
    {% endif %}

{% endmacro %}

{% macro large(style) %}

    {% if style %}
        <div class="u-mb-l" style="{{ style }}">&nbsp;</div>
    {% else %}
        <div class="u-mb-l">&nbsp;</div>
    {% endif %}

{% endmacro %}

{% macro extraLarge(style) %}

    {% if style %}
        <div class="u-mb-xl" style="{{ style }}">&nbsp;</div>
    {% else %}
        <div class="u-mb-xl">&nbsp;</div>
    {% endif %}

{% endmacro %}

